name: Go

on:
  push:
    branches: [master,main]
  pull_request:
    branches: [master,main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Build
        run: go build -v ./...

      - name: Test
        run: make test

      - name: Upload coverage file to codecov
          uses: codecov/codecov-action@v3
          with:
            token: ${{secrets.CODECOV_TOKEN}}